{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Faculty_Attendance_System</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">

   
    <!--Bootstrap-->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Courgette"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap-reboot.css"
    />
    <script src="http://asvd.github.io/syncscroll/syncscroll.js"></script>
    <link
     href="{% static 'css/styles.css' %}"
      rel="stylesheet" 
    >
    <link
     href="{% static 'css/template.css' %}"
     rel="stylesheet"
     >
     <script>
        function calculatePercentage(attended, total) {
            if (total > 0) {
                return ((attended / total) * 100).toFixed(2) + '%';
            } else {
                return 'N/A';
            }
        }
    </script>
  </head>

  <body>
      <!-- ======= Header ======= -->
      <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
          <a class="logo d-flex align-items-center">
              <img src="{% static 'img/logoX.jpg' %}" alt="Logo">
              <span class="d-none d-lg-block">Kdpp. Faculty Attendance</span>
          </a>
          <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <!-- End Search Nav -->
            <a class="nav-link d-flex align-items-center pe-3" >
              <img src="{% static 'img/default-profile-picture.jpg' %}" alt="Profile" class="rounded-circle" height="50px" width="50px">
              <span >{{ faculty_name }}</span>
            </a><!-- End Profile Image Icon -->
  
          <!-- End Profile Nav -->
  
        </ul>
      </nav>
      
      </header>

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'index' %}">
          <i class="bi bi-grid"></i>
          <span>Attendance Sheet</span>
        </a>
      </li>

      <li class="nav-item">
          <a class="nav-link " href="{% url 'Students' %}">
          <i class="bi bi-grid"></i>
          <span>Students Attendance Sheet</span>
        </a>
      </li>

      <li class="nav-heading">Pages</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'pages-error-404' %}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'pages-error-404' %}">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li>
      <!-- End F.A.Q Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'pages-error-404' %}">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li>
      <!-- End Contact Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'datasheet' %}">
          <i class="bi bi-database-down"></i>
          <span>data</span>
        </a>
      </li>
      <!-- End Register Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'logout' %}">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </aside>
    <!-- End Sidebar-->
  
    <main id="main" class="main">
        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active" ><a href="{% url 'datasheet' %}">DataSheet(beta version)</a></li>
                </ol>
            </nav>
        </div>
        <div class="container-fluid">
            <div class="container mt-4">
                <h2 class="mt-4 mb-4">Student Datasheet</h2>
                {% if error_message %}
                    <div class="alert alert-danger" role="alert">
                        {{ error_message }}
                    </div>
                {% else %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-sm btn-outline-primary">Submit</button>
                    </form>
    
                    {% if student %}
                        <h2 class="mt-4 mb-4">Attendance Details</h2>
                        {% if attendance_data %}
                            {% for faculty, subjects in attendance_data.items %}
                                <h5>Class of {{ faculty }}</h5>
                                <div class="table-responsive"> 
                                    <table class="table table-bordered table-striped">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Subject</th>
                                                <th scope="col">Attended</th>
                                                <th scope="col">Total Classes</th>
                                                <th scope="col">Percentage</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for subject, data in subjects.items %}
                                                <tr>
                                                    <td>{{ student.student_name }}</td>
                                                    <td>{{ subject }}</td>
                                                    <td>{{ data.attended }}</td>
                                                    <td>{{ data.total }}</td>
                                                    <td>
                                                        <span id="percentage_{{ forloop.parentloop.counter }}_{{ forloop.counter }}"></span>
                                                        <script>
                                                            document.getElementById('percentage_{{ forloop.parentloop.counter }}_{{ forloop.counter }}').textContent = calculatePercentage({{ data.attended }}, {{ data.total }}); 
                                                        </script>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No attendance data found.</p>
                        {% endif %}
                        <form method="get" action="{% url 'download_attendance_data' student.enrollment_no %}">
                            <button type="submit" class="btn btn-sm btn-outline-primary" >Download Attendance Data</button>
                        </form>
                    {% endif %}
                {% endif %}
                <form method="get" action="{% url 'download_all_attendance_data' %}">
                    <button type="submit" class="btn btn-sm btn-outline-primary" >Download All Students Attendance Data</button>
                </form>
                <a href="{% url 'download_data' %}">
                    <button type="submit" class="btn btn-sm btn-outline-primary" >Download Faculty Attendance Data</button>
                </a>
                <a href="{% url 'download_work_shift' %}">
                    <button type="submit" class="btn btn-sm btn-outline-primary" >Download Work Shift Data</button>
                </a>
            </div>
        </div>
        <div id="top-of-site-pixel-anchor"></div>
    </main>
    
    
    


    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong><span>Anything</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Developed by Dhruvil 
      </div>
    </footer>
    <script>
        function calculatePercentage(attended, total) {
            if (total > 0) {
                return ((attended / total) * 100).toFixed(2) + '%';
            } else {
                return 'N/A';
            }
        }
    </script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
