{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>kdpp Attendance System</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">
   
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Courgette"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap-reboot.css"
    />
    <script src="http://asvd.github.io/syncscroll/syncscroll.js"></script>
    <link
     href="{% static 'css/styles.css' %}"
      rel="stylesheet" 
    >
    <link
     href="{% static 'css/template.css' %}"
     rel="stylesheet"
     >
    
  </head>

  <body>
      <!-- ======= Header ======= -->
      <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
          <a class="logo d-flex align-items-center">
              <img src="{% static 'img/logoX.jpg' %}" alt="Logo">
              <span class="d-none d-lg-block">Kdpp. Faculty Attendance</span>
          </a>
          <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <!-- End Search Nav -->
            <a class="nav-link d-flex align-items-center pe-3" >
              <img src="{% static 'img/default-profile-picture.jpg' %}" alt="Profile" class="rounded-circle" height="50px" width="50px">
              <span >{{ faculty_name }}</span>
            </a><!-- End Profile Image Icon -->
  
          <!-- End Profile Nav -->
  
        </ul>
      </nav>
      
      </header>

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'index' %}">
          <i class="bi bi-grid"></i>
          <span>Attendance Sheet</span>
        </a>
      </li>

      

      <li class="nav-item">
          <a class="nav-link " href="{% url 'Students' %}">
          <i class="bi bi-grid"></i>
          <span>Students Attendance Sheet</span>
        </a>
      </li>

      <li class="nav-heading">Pages</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'qr_students' %}">
          <i class="bi bi-qr-code-scan"></i>
          <span>Students Qr codes</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'pages-error-404' %}">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li>
      <!-- End F.A.Q Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'pages-error-404' %}">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li>
      <!-- End Contact Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'datasheet' %}">
          <i class="bi bi-database-down"></i>
          <span>data</span>
        </a>
      </li>
      <!-- End Register Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'logout' %}">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Logout</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'download_data' %}">
            
            <i class="bi bi-file-earmark"></i>
            {% csrf_token %}
            <span>Download Attendance Data</span>
          </a>
        </li>
      </li>
 
      <li class="nav-item">
       <a  href="{% url 'download_work_shift' %}" class="nav-link collapsed" >
          <i class="bi bi-file-earmark"></i>
          {% csrf_token %}
          <span>Download Work Shift Data</span>
        </a>
      </li>

      </ul>
    </aside>
    <!-- End Sidebar-->
  
    <main id="main" class="main">
      <div class="pagetitle">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active">Attendance Sheet</li>
          </ol>
        </nav>
      </div>
      </div>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} " role="alert">
        <strong>{{ message }}</strong>
    {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        </div> 
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col">
          <div style="display: flex; align-items: center; padding-right: 30px">
            <div
              style="
                width: 15px;
                height: 15px;
                background-color: #ffd800;
                margin-right: 5px;
              "
            ></div>
            <span>Pending</span>
          </div>
          <div
            style="
              display: flex;
              align-items: center;
              margin-top: 5px;
              padding-right: 30px;
            "
          >
            <div
              style="
                width: 15px;
                height: 15px;
                background-color: #86f250;
                margin-right: 5px;
              "
            ></div>
            <span>Present</span>
          </div>
        </div>
        <div class="col">
          <div class="row" style="width: 500px;">
          <div class="col" style="margin-top: 20px;">
          <p><b>Last punch time:</b> {{ punch_time }}</p>
          <p><b>Your attendance:</b>{{ attended_classes }}/{{ total_classes }}</p>
          </div>
          {# punch in #}
          <div class="col">
          <div class="form-inline">
            <form action="{% url 'punch' %}" method="POST" class="form-inline" style="margin: 10px;">
                {% csrf_token %}
                <!-- Add any form fields if needed -->
                <button class="btn btn-sm {% if is_punch_out %}btn-outline-primary{% else %}btn btn-primary{% endif %}" type="submit" style="font-family: 'Andale Mono', monospace;">{% if is_punch_out %}Punch Out {% else %}Punch In{% endif %}</button>
            </form>
        </div>
          </div>
      </div>
        </div>
        <div class="col">
        <form class="form-inline" method="GET" action="{% url 'calendar_view' %}" style="margin: 10px auto;">
          <div class="input-group">
              <input type="date" id="weekpicker" class="form-control form-control-sm" name="weekpicker"> <!-- Added form-control-sm class for smaller input -->
              <div class="input-group-append">
                  <button type="submit" class="btn btn-sm btn-outline-primary">Selete Date </button> <!-- Added btn-sm class for smaller button -->
              </div>
          </div>
      </form>
        </div>
      </div>
    </div>
 
<!-- <div class="button-container">
  <a href="{% url 'download_work_shift' %}" class="btn btn-primary">Download Work Shift Data</a>
</div> -->

    <div class="wrapper">
      <div class="table">
        <div class="headers">
          {% if success %}
          <div class="scroller syncscroll" name="myElements">
            <div class="track">
              <div class="heading">{{ monday_date }}</div>
            </div>
            <div class="track">
              <div class="heading">{{ tuesday_date }}</div>
            </div>
            <div class="track">
              <div class="heading">{{ wednesday_date }}</div>
            </div>
            <div class="track">
              <div class="heading">{{ thursday_date }}</div>
            </div>
            <div class="track">
              <div class="heading">{{ friday_date }}</div>
            </div>
            <div class="track">
              <div class="heading">{{ saturday_date }}</div>
            </div>
            <div class="track">
              <div class="heading">{{ sunday_date }}</div>
            </div>
          </div>
        </div>
        {% else %}
        <h3>plz Select date or reload page</h3>
        {% endif %}

        <div class="tracks syncscroll" name="myElements">
        

          <div class="track yellow">
            <!--Monday-->
            {% for class_rollout in monday_classes %}
            <div class="entry {% if class_rollout.class_attedance %}green{% else %}yellow{% endif %}">
              <div class="details">
                <h3>{{ class_rollout.room.room_name }} ({{ class_rollout.duration.duration_short_name }})</h3>
                <p>{{ class_rollout.start_time }} - {{ class_rollout.end_time }}</p>
                <p>{{ class_rollout.subject.name }}</p>
           
           
                <div class="attendance" style="display: flex; padding-top: 1px; margin-left: 25px">
                    <form id="attendanceForm_{{ class_rollout.id }}" method="POST" action="{% url 'calendar_view' %}">
                        {% csrf_token %}
                        <input type="hidden" name="class_rollout_id" value="{{ class_rollout.id }}" />
                        <input type="checkbox" id="attendance" name="attendance" value="true" onchange="submitForm('{{ class_rollout.id }}')" {% if class_rollout.class_attedance %} checked {% endif %}  />
                        <p style="margin-top: -22px; margin-left: 17px">
                            <label for="attendance">Attendance</label>
                        </p>
                    </form>
                </div>
            </div>
            </div>
            {% endfor %}
          </div>

            <!-- TUESDAY -->
            <div class="track yellow">
              {% for class_rollout in tuesday_classes %}
              <div class="entry {% if class_rollout.class_attedance %}green{% else %}yellow{% endif %}">
                <div class="details">
                  <h3>{{ class_rollout.room.room_name }} ({{ class_rollout.duration.duration_short_name }})</h3>
                  <p>{{ class_rollout.start_time }} - {{ class_rollout.end_time }}</p>
                  <p>{{ class_rollout.subject.name }}</p>
                  <div class="attendance" style="display: flex; padding-top: 1px; margin-left: 25px">
                      <form id="attendanceForm_{{ class_rollout.id }}" method="POST" action="{% url 'calendar_view' %}">
                          {% csrf_token %}
                          <input type="hidden" name="class_rollout_id" value="{{ class_rollout.id }}" />
                          <input type="checkbox" id="attendance" name="attendance" value="true" onchange="submitForm('{{ class_rollout.id }}')" {% if class_rollout.class_attedance %} checked {% endif %} {% if class_rollout.class_date != todays_date %} disabled {% endif %} />
                          <p style="margin-top: -22px; margin-left: 17px">
                              <label for="attendance">Attendance</label>
                          </p>
                      </form>
                  </div>
              </div>
              </div>
              {% endfor %}
            </div>

          <!--Wednesday-->
          <div class="track yellow">
            {% for class_rollout in wednesday_classes %}
            <div class="entry {% if class_rollout.class_attedance %}green{% else %}yellow{% endif %}">
              <div class="details">
                <h3>{{ class_rollout.room.room_name }} ({{ class_rollout.duration.duration_short_name }})</h3>
                <p>{{ class_rollout.start_time }} - {{ class_rollout.end_time }}</p>
                <p>{{ class_rollout.subject.name }}</p>
                <div class="attendance" style="display: flex; padding-top: 1px; margin-left: 25px">
                    <form id="attendanceForm_{{ class_rollout.id }}" method="POST" action="{% url 'calendar_view' %}">
                        {% csrf_token %}
                        <input type="hidden" name="class_rollout_id" value="{{ class_rollout.id }}" />
                        <input type="checkbox" id="attendance" name="attendance" value="true" onchange="submitForm('{{ class_rollout.id }}')" {% if class_rollout.class_attedance %} checked {% endif %} {% if class_rollout.class_date != todays_date %} disabled {% endif %} />
                        <p style="margin-top: -22px; margin-left: 17px">
                            <label for="attendance">Attendance</label>
                        </p>
                    </form>
                </div>
            </div>
            </div>
            {% endfor %}
          </div>

          <!--thursday-->
          <div class="track yellow">
            {% for class_rollout in thursday_classes %}
            <div class="entry {% if class_rollout.class_attedance %}green{% else %}yellow{% endif %}">
              <div class="details">
                <h3>{{ class_rollout.room.room_name }} ({{ class_rollout.duration.duration_short_name }})</h3>
                <p>{{ class_rollout.start_time }} - {{ class_rollout.end_time }}</p>
                <p>{{ class_rollout.subject.name }}</p>
           
           
                <div class="attendance" style="display: flex; padding-top: 1px; margin-left: 25px">
                    <form id="attendanceForm_{{ class_rollout.id }}" method="POST" action="{% url 'calendar_view' %}">
                        {% csrf_token %}
                        <input type="hidden" name="class_rollout_id" value="{{ class_rollout.id }}" />
                        <input type="checkbox" id="attendance" name="attendance" value="true" onchange="submitForm('{{ class_rollout.id }}')" {% if class_rollout.class_attedance %} checked {% endif %} {% if class_rollout.class_date != todays_date %} disabled {% endif %} />
                        <p style="margin-top: -22px; margin-left: 17px">
                            <label for="attendance">Attendance</label>
                        </p>
                    </form>
                </div>
            </div>
            </div>
            {% endfor %}
          </div>

          <!--friday-->
          <div class="track">
            {% for class_rollout in friday_classes %}
            <div
              class="entry {% if class_rollout.class_attedance %}green{% else %}yellow{% endif %}"
            >
            <div class="details">
              <h3>{{ class_rollout.room.room_name }} ({{ class_rollout.duration.duration_short_name }})</h3>
              <p>{{ class_rollout.start_time }} - {{ class_rollout.end_time }}</p>
              <p>{{ class_rollout.subject.name }}</p>
              <div class="attendance" style="display: flex; padding-top: 1px; margin-left: 25px">
                  <form id="attendanceForm_{{ class_rollout.id }}" method="POST" action="{% url 'calendar_view' %}">
                      {% csrf_token %}
                      <input type="hidden" name="class_rollout_id" value="{{ class_rollout.id }}" />
                      <input type="checkbox" id="attendance" name="attendance" value="true" onchange="submitForm('{{ class_rollout.id }}')" {% if class_rollout.class_attedance %} checked {% endif %} {% if class_rollout.class_date != todays_date %} disabled {% endif %} />
                      <p style="margin-top: -22px; margin-left: 17px">
                          <label for="attendance">Attendance</label>
                      </p>
                  </form>
              </div>
          </div>
            </div>
            {% endfor %}
          </div>

          <!--Saturday-->
          <div class="track gray">
            {% for class_rollout in saturday_classes %}
            <div class="entry {% if class_rollout.class_attedance %}green{% else %}yellow{% endif %}">
              <div class="details">
                <h3>{{ class_rollout.room.room_name }} ({{ class_rollout.duration.duration_short_name }})</h3>
                <p>{{ class_rollout.start_time }} - {{ class_rollout.end_time }}</p>
                <p>{{ class_rollout.subject.name }}</p>
           
           
                <div class="attendance" style="display: flex; padding-top: 1px; margin-left: 25px">
                    <form id="attendanceForm_{{ class_rollout.id }}" method="POST" action="{% url 'calendar_view' %}">
                        {% csrf_token %}
                        <input type="hidden" name="class_rollout_id" value="{{ class_rollout.id }}" />
                        <input type="checkbox" id="attendance" name="attendance" value="true" onchange="submitForm('{{ class_rollout.id }}')" {% if class_rollout.class_attedance %} checked {% endif %} {% if class_rollout.class_date != todays_date %} disabled {% endif %} />
                        <p style="margin-top: -22px; margin-left: 17px">
                            <label for="attendance">Attendance</label>
                        </p>
                    </form>
                </div>
            </div>
            </div>
            {% endfor %}
          </div>
          <!-- Sunday -->
          <div class="track gray">
            {% for class_rollout in sunday_classes %}
            <div class="entry {% if class_rollout.class_attedance %}green{% else %}yellow{% endif %}">
              <div class="details">
                <h3>{{ class_rollout.room.room_name }} ({{ class_rollout.duration.duration_short_name }})</h3>
                <p>{{ class_rollout.start_time }} - {{ class_rollout.end_time }}</p>
                <p>{{ class_rollout.subject.name }}</p>
           
           
                <div class="attendance" style="display: flex; padding-top: 1px; margin-left: 25px">
                    <form id="attendanceForm_{{ class_rollout.id }}" method="POST" action="{% url 'calendar_view' %}">
                        {% csrf_token %}
                        <input type="hidden" name="class_rollout_id" value="{{ class_rollout.id }}" />
                        <input type="checkbox" id="attendance" name="attendance" value="true" onchange="submitForm('{{ class_rollout.id }}')" {% if class_rollout.class_attedance %} checked {% endif %} {% if class_rollout.class_date != todays_date %} disabled {% endif %} />
                        <p style="margin-top: -22px; margin-left: 17px">
                            <label for="attendance">Attendance</label>
                        </p>
                    </form>
                </div>
            </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div id="top-of-site-pixel-anchor"></div>
  </div>
</main>


    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong><span>Anything</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Developed by Dhruvil 
      </div>
    </footer>
    <script>
      function submitForm(class_rollout_id) {
        document.getElementById("attendanceForm_" + class_rollout_id).submit();
      }
    </script>
    <script>
      // Disable buttons after click
      document.getElementById("punchInForm").addEventListener("submit", function () {
        document.getElementById("punchInBtn").disabled = true;
        document.getElementById("punchOutBtn").disabled = true;
      });
    
      document.getElementById("punchOutForm").addEventListener("submit", function () {
        document.getElementById("punchInBtn").disabled = true;
        document.getElementById("punchOutBtn").disabled = true;
      });

      setTimeout(function () {
        document.getElementById("pendingStatus").style.backgroundColor = "#86f250";
      }, 2000);
    </script>
    <script src="{%static 'js/index.js'%}"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  
  </body>
</html>
