{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>kdpp Login</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Custom CSS for Tabs -->
    <style>
        .tab-content {
            display: none;
        }

        .tab-content.active {
            display: flex;
        }

        .nav-tabs .nav-link.active {
            background-color: #0b5ed7;
            color: #fff;
            margin-right: 10px;
            margin-inline-start: 10px; 
        }

        .nav-tabs .nav-link {
            border: 1px solid #ddd;
            border-radius: 10%;
        }

        .nav-tabs {
            border-bottom: 0;
            margin-bottom: 20px;
        }

        .logo-container {
            text-align: center;
        }

        .logo-container img {
            border-radius: 50%;
            width: 150px; /* Adjust the size as needed */
            height: 150px; /* Adjust the size as needed */
            object-fit: cover;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <main>
        <div class="container-fluid">
            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="logo-container">
                                        <img src="{% static 'img/kdp_logo_new_(1).jpg' %}" alt="Your Logo">
                                    </div>
                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                                        <p class="text-center">Welcome to Kdpp Attendance System</p>
                                        <p class="text-center small">Please enter the username and password provided by the administrator.</p>
                                        {% if messages %}
                                            {% for message in messages %}
                                                <div class="alert alert-danger {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <ul class="nav nav-tabs justify-content-center">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="user-tab" style="cursor: pointer;">Faculty Login</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="admin-tab" style="cursor: pointer;">Student Login</a>
                                        </li>
                                    </ul>

                                    <div id="user-login" class="tab-content active">
                                        <form method="post" action="{% url 'login' %}" class="row g-3 needs-validation" novalidate>
                                            {% csrf_token %}
                                            <div class="col-12">
                                                <label for="yourUsername" class="form-label">Faculty Username</label>
                                                <div class="input-group has-validation">
                                                    <span class="input-group-text" id="inputGroupPrepend"><h7 class="bi bi-person-circle"></h7></span>
                                                    <input type="text" name="username" class="form-control" id="yourUsername" required>
                                                    <div class="invalid-feedback">Please enter your username.</div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <label for="yourPassword" class="form-label">Password</label>
                                                <input type="password" name="password" class="form-control" id="yourPassword" required>
                                                <div class="invalid-feedback">Please enter your password!</div>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn btn-primary w-100" type="submit">Login</button>
                                            </div>
                                        </form>
                                    </div>

                                    <div id="admin-login" class="tab-content">
                                        <form method="post" action="{% url 'login' %}" class="row g-3 needs-validation" novalidate>
                                            {% csrf_token %}
                                            <div class="col-12">
                                                <label for="enrollment_no" class="form-label">Student Enrollment Number</label>
                                                <div class="input-group has-validation">
                                                    <span class="input-group-text" id="inputGroupPrepend"><h7 class="bi bi-person-circle"></h7></span>
                                                    <input type="text" name="enrollment_no" class="form-control" id="enrollment_no" required>
                                                    <div class="invalid-feedback">Please enter your student enrollment number.</div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <label for="student_password" class="form-label">Password</label>
                                                <input type="password" name="student_password" class="form-control" id="student_password" required>
                                                <div class="invalid-feedback">Please enter your student password!</div>
                                            </div>
                                            <div class="col-12">
                                                <input type="hidden" name="latitude" id="latitude">
                                                <input type="hidden" name="longitude" id="longitude">
                                                <button class="btn btn-primary w-100" type="submit">Login</button>
                                            </div>
                                        </form>                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Custom JS for Tab Switching -->
    <script>
        document.getElementById('user-tab').addEventListener('click', function (event) {
            event.preventDefault();
            document.getElementById('user-login').classList.add('active');
            document.getElementById('admin-login').classList.remove('active');
            this.classList.add('active');
            document.getElementById('admin-tab').classList.remove('active');
        });

        document.getElementById('admin-tab').addEventListener('click', function (event) {
            event.preventDefault();
            document.getElementById('admin-login').classList.add('active');
            document.getElementById('user-login').classList.remove('active');
            this.classList.add('active');
            document.getElementById('user-tab').classList.remove('active');
        });

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                document.getElementById('latitude').value = position.coords.latitude;
                document.getElementById('longitude').value = position.coords.longitude;
            });
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    </script>
</body>

</html>
