{% load qr_code %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QR Codes for Students</title>
</head>
<body>
    <h1>QR Codes for Students</h1>
    
    <form method="post" action="{% url 'qr_students' %}">
        {% csrf_token %}
        <label for="enrollment_no">Enter Enrollment Number:</label>
        <input type="text" id="enrollment_no" name="enrollment_no" required>
        <button type="submit">Generate QR Code</button>
    </form>
    
    {% if student %}
        <h2>Student Details</h2>
        <p>Name: {{ student.student_name }}</p>
        <p>Enrollment No: {{ student.enrollment_no }}</p>
        {% if student.Student_Class %}
            <!-- <p>Class: {{ student.Student_Class.Students_class_name }}</p> -->
        {% endif %}
        <h2>QR Code for {{ enrollment_no }}</h2>
        <img src="{% qr_url_from_text student.enrollment_no options=qr_options %}" alt="QR code for {{ student.student_name }}">
        <a href="{% qr_url_from_text student.enrollment_no options=qr_options %}" download="QR_{{ student.enrollment_no }}.png">Download QR Code</a>
    {% endif %}
    
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
</body>
</html>
