{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Faculty_Attendance_System</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">
   
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Courgette"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap-reboot.css"
    />
    <script src="http://asvd.github.io/syncscroll/syncscroll.js"></script>
    <link
     href="{% static 'css/Students.css' %}"
      rel="stylesheet" 
    >
    <link
     href="{% static 'css/template.css' %}"
     rel="stylesheet"
     >
    
  </head>

  <body>
      <!-- ======= Header ======= -->
      <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
          <a class="logo d-flex align-items-center">
              <img src="{% static 'img/logoX.jpg' %}" alt="Logo">
              <span class="d-none d-lg-block">Kdpp. Faculty Attendance</span>
          </a>
          <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <!-- End Search Nav -->
            <a class="nav-link d-flex align-items-center pe-3" >
              <img src="{% static 'img/default-profile-picture.jpg' %}" alt="Profile" class="rounded-circle" height="50px" width="50px">
              <span >{{ faculty_name }}</span>
            </a><!-- End Profile Image Icon -->
  
          <!-- End Profile Nav -->
  
        </ul>
      </nav>
      
      </header>

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'index' %}">
          <i class="bi bi-grid"></i>
          <span>Attendance Sheet</span>
        </a>
      </li>

      

      <li class="nav-item">
          <a class="nav-link " href="{% url 'Students' %}">
          <i class="bi bi-grid"></i>
          <span>Students Attendance Sheet</span>
        </a>
      </li>

      <li class="nav-item"></li>
      <a class="nav-link " href="{% url 'upload' %}">
        <i class="bi bi-grid"></i>
        <span>Upload_data</span>
      </a>
    </li>

      <li class="nav-heading">Pages</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'pages-error-404' %}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'pages-error-404' %}">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li>
      <!-- End F.A.Q Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'pages-error-404' %}">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li>
      <!-- End Contact Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'pages-error-404' %}">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li>
      <!-- End Register Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'logout' %}">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Logout</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'download_data' %}">
            
            <i class="bi bi-file-earmark"></i>
            {% csrf_token %}
            <span>Download Attendance Data</span>
          </a>
        </li>
      </li>
 
      <li class="nav-item">
       <a  href="{% url 'download_work_shift' %}" class="nav-link collapsed" >
          <i class="bi bi-file-earmark"></i>
          {% csrf_token %}
          <span>Download Work Shift Data</span>
        </a>
      </li>

      </ul>
    </aside>
    <!-- End Sidebar-->
  
    <main id="main" class="main">
      <div class="pagetitle">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active">Students Attendance Sheet</li>
          </ol>
        </nav>
      </div>
      </div>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} " role="alert">
        <strong>{{ message }}</strong>
    {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        </div> 
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col">
          <div style="display: flex; align-items: center; padding-right: 30px">
            <div
              style="
                width: 15px;
                height: 15px;
                background-color: #ffd800;
                margin-right: 5px;
              "
            ></div>
            <span>Pending</span>
          </div>
          <div
            style="
              display: flex;
              align-items: center;
              margin-top: 5px;
              padding-right: 30px;
            "
          >
            <div
              style="
                width: 15px;
                height: 15px;
                background-color: #86f250;
                margin-right: 5px;
              "
            ></div>
            <span>Present</span>
          </div>
        </div>
        <!-- <div class="col">
          <div class="row" style="width: 500px;">
          <div class="col" style="margin-top: 20px;">
          <p><b>Last punch time:</b> {{ punch_time }}</p>
          <p><b>Your attendance:</b>{{ attended_classes }}/{{ total_classes }}</p>
          </div>
          {# punch in #}
          <div class="col">
          <div class="form-inline">
            <form action="{% url 'punch' %}" method="POST" class="form-inline" style="margin: 10px;">
                {% csrf_token %}
                // Add any form fields if needed 
                <button class="btn btn-sm {% if is_punch_out %}btn-outline-primary{% else %}btn btn-primary{% endif %}" type="submit" style="font-family: 'Andale Mono', monospace;">{% if is_punch_out %}Punch Out {% else %}Punch In{% endif %}</button>
            </form>
        </div> -->
          </div>
      </div>
        </div>
        <div class="col">
          <form class="form-inline" method="GET" action="{% url 'Students' %}" style="margin: 10px auto;">
              <div class="input-group">
                  <input type="date" id="weekpicker" name="weekpicker" class="form-control form-control-sm" value="{{ selected_date }}">
                  <div class="input-group-append">
                      <button type="submit" class="btn btn-sm btn-outline-primary">Select Date</button>
                  </div>
              </div>
              <div class="input-group" style="margin-left: 10px;">
                  <select id="room" name="room" class="form-control form-control-sm">
                      <option value="">Select a room</option>
                      {% for room in rooms %}
                      <option value="{{ room.id }}" {% if selected_room and room.id == selected_room.id %}selected{% endif %}>{{ room.room_name }}</option>
                      {% endfor %}
                  </select>
                  <div class="input-group-append">
                      <button type="submit" class="btn btn-sm btn-outline-primary">Select Room</button>
                  </div>
              </div>
              <button type="submit" class="btn btn-sm btn-outline-primary" style="margin-left: 10px;">Filter</button>
          </form>
      </div>
            
      
      </div>
    </div>
 
 
<!-- <div class="button-container">
  <a href="{% url 'download_work_shift' %}" class="btn btn-primary">Download Work Shift Data</a>
</div> -->

    <div class="wrapper">
      <div class="table">
        <div class="headers">
          {% if success %}
          <div class="scroller syncscroll" name="myElements">
            <div class="track">
              <div class="heading">{{ monday_date }}</div>
            </div>
            <div class="track">
              <div class="heading">{{ tuesday_date }}</div>
            </div>
            <div class="track">
              <div class="heading">{{ wednesday_date }}</div>
            </div>
            <div class="track">
              <div class="heading">{{ thursday_date }}</div>
            </div>
            <div class="track">
              <div class="heading">{{ friday_date }}</div>
            </div>
            <div class="track">
              <div class="heading">{{ saturday_date }}</div>
            </div>
            <div class="track">
              <div class="heading">{{ sunday_date }}</div>
            </div>
          </div>
        </div>
        {% else %}
        <h3>plz Select date or reload page</h3>
        {% endif %}

        <div class="tracks syncscroll" name="myElements">
        
                <!--MOnday-->
          <div class="track yellow">        
            {% for student_rollout in monday_classes %}
            <div class="entry {% if class_rollout.class_attedance %}green{% else %}yellow{% endif %}">
                <div class="details">
                    <h3>{{ student_rollout.room.room_name }} ({{ student_rollout.duration.duration_short_name }})</h3>
                    <p>{{ student_rollout.student.enrollment_no }}</p>
                    <p>{{ student_rollout.student.student_name }}</p>
                    
                    <div class="attendance" style="display: flex; padding-top: 1px; margin-left: 1px;">
                        <form id="attendanceForm_{{  student_rollout_id }}" method="POST" action="{% url 'Students' %}">
                            {% csrf_token %}
                            <input type="hidden" name="student_rollout_id" value="{{ student_rollout.id }}" />
                            <input type="checkbox" id="attendance" name="attendance" value="true" onchange="submitForm('{{ student_rollout.id }}')" {% if student_rollout.student_attendance %} checked {% endif %} />
                            <label for="attendance" style="margin-left: 1px;">Attendance</label>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

<!-- TUESDAY -->
 <div class="track yellow">
{% for Students_rollout in tuesday_classes %}
            <div class="entry">
                <div class="details">
                    <h3>{{ Students_rollout.room.room_name }} ({{ Students_rollout.duration.duration_short_name }})</h3>
                    <p>{{ Students_rollout.start_time }} - {{ Students_rollout.end_time }}</p>
                    <p>{{ Students_rollout.student.enrollment_no }}</p>
                    <p>{{ Students_rollout.student.student_name }}</p>
     
                    <div class="attendance" style="display: flex; padding-top: 11px; margin-left: 17px;">
                      <form id="attendanceForm_{{  student_rollout_id }}" method="POST" action="{% url 'Students' %}">
                          {% csrf_token %}
                          <input type="hidden" name="student_rollout_id" value="{{ student_rollout.id }}" />
                          <input type="checkbox" id="attendance" name="attendance" value="true" onchange="submitForm('{{ student_rollout.id }}')" {% if student_rollout.student_attendance %} checked {% endif %} />
                          <label for="attendance" style="margin-left: 1px;">Attendance</label>
                      </form>
                  </div>
                </div>
            </div>
            {% endfor %}
             </div> 

          <!--Wednesday-->
          <div class="track yellow">
           {% for Students_rollout in wednesday_classes %}
           <div class="entry">
            <div class="details">
                <h3>{{ Students_rollout.room.room_name }} ({{ Students_rollout.duration.duration_short_name }})</h3>
                <p>{{ Students_rollout.start_time }} - {{ Students_rollout.end_time }}</p>
                <p>{{ Students_rollout.student.enrollment_no }}</p>
                <p>{{ Students_rollout.student.student_name }}</p>
 
                <div class="attendance" style="display: flex; padding-top: 1px; margin-left: 1px;">
                  <form id="attendanceForm_{{  student_rollout_id }}" method="POST" action="{% url 'Students' %}">
                      {% csrf_token %}
                      <input type="hidden" name="student_rollout_id" value="{{ student_rollout.id }}" />
                      <input type="checkbox" id="attendance" name="attendance" value="true" onchange="submitForm('{{ student_rollout.id }}')" {% if student_rollout.student_attendance %} checked {% endif %} />
                      <label for="attendance" style="margin-left: 1px;">Attendance</label>
                  </form>
              </div>
            </div>
        </div>
        {% endfor %}
         </div> 

          <!--thursday-->
           <div class="track yellow">
            {% for Students_rollout in thursday_classes %}
            <div class="entry">
              <div class="details">
                  <h3>{{ Students_rollout.room.room_name }} ({{ Students_rollout.duration.duration_short_name }})</h3>
                  <p>{{ Students_rollout.start_time }} - {{ Students_rollout.end_time }}</p>
                  <p>{{ Students_rollout.student.enrollment_no }}</p>
                  <p>{{ Students_rollout.student.student_name }}</p>
   
                  <div class="attendance" style="display: flex; padding-top: 1px; margin-left: 1px;">
                    <form id="attendanceForm_{{  student_rollout_id }}" method="POST" action="{% url 'Students' %}">
                        {% csrf_token %}
                        <input type="hidden" name="student_rollout_id" value="{{ student_rollout.id }}" />
                        <input type="checkbox" id="attendance" name="attendance" value="true" onchange="submitForm('{{ student_rollout.id }}')" {% if student_rollout.student_attendance %} checked {% endif %} />
                        <label for="attendance" style="margin-left: 1px;">Attendance</label>
                    </form>
                </div>
              </div>
          </div>
          {% endfor %}
          </div> 

          <!--friday-->
           <div class="track">
          {% for Students_rollout in friday_classes %}
          <div class="entry">
            <div class="details">
                <h3>{{ Students_rollout.room.room_name }} ({{ Students_rollout.duration.duration_short_name }})</h3>
                <p>{{ Students_rollout.start_time }} - {{ Students_rollout.end_time }}</p>
                <p>{{ Students_rollout.student.enrollment_no }}</p>
                <p>{{ Students_rollout.student.student_name }}</p>
 
                <div class="attendance" style="display: flex; padding-top: 1px; margin-left: 1px;">
                  <form id="attendanceForm_{{  student_rollout_id }}" method="POST" action="{% url 'Students' %}">
                      {% csrf_token %}
                      <input type="hidden" name="student_rollout_id" value="{{ student_rollout.id }}" />
                      <input type="checkbox" id="attendance" name="attendance" value="true" onchange="submitForm('{{ student_rollout.id }}')" {% if student_rollout.student_attendance %} checked {% endif %} />
                      <label for="attendance" style="margin-left: 1px;">Attendance</label>
                  </form>
              </div>
            </div>
        </div>
        {% endfor %}
          </div> 

          <!--Saturday-->
           <div class="track gray">
            {% for Students_rollout in saturday_classes %}
            <div class="entry">
              <div class="details">
                  <h3>{{ Students_rollout.room.room_name }} ({{ Students_rollout.duration.duration_short_name }})</h3>
                  <p>{{ Students_rollout.start_time }} - {{ Students_rollout.end_time }}</p>
                  <p>{{ Students_rollout.student.enrollment_no }}</p>
                  <p>{{ Students_rollout.student.student_name }}</p>
   
                  <div class="attendance" style="display: flex; padding-top: 1px; margin-left: 1px;">
                    <form id="attendanceForm_{{  student_rollout_id }}" method="POST" action="{% url 'Students' %}">
                        {% csrf_token %}
                        <input type="hidden" name="student_rollout_id" value="{{ student_rollout.id }}" />
                        <input type="checkbox" id="attendance" name="attendance" value="true" onchange="submitForm('{{ student_rollout.id }}')" {% if student_rollout.student_attendance %} checked {% endif %} />
                        <label for="attendance" style="margin-left: 1px;">Attendance</label>
                    </form>
                </div>
              </div>
          </div>
          {% endfor %}
          </div> 
          <!-- Sunday -->
          <div class="track gray">
          {% for Students_rollout in sunday_classes %}
          <div class="entry">
            <div class="details">
                <h3>{{ Students_rollout.room.room_name }} ({{ Students_rollout.duration.duration_short_name }})</h3>
                <p>{{ Students_rollout.start_time }} - {{ Students_rollout.end_time }}</p>
                <p>{{ Students_rollout.student.enrollment_no }}</p>
                <p>{{ Students_rollout.student.student_name }}</p>
 
                <div class="attendance" style="display: flex; padding-top: 1px; margin-left: 1px;">
                  <form id="attendanceForm_{{  student_rollout_id }}" method="POST" action="{% url 'Students' %}">
                      {% csrf_token %}
                      <input type="hidden" name="student_rollout_id" value="{{ student_rollout.id }}" />
                      <input type="checkbox" id="attendance" name="attendance" value="true" onchange="submitForm('{{ student_rollout.id }}')" {% if student_rollout.student_attendance %} checked {% endif %} />
                      <label for="attendance" style="margin-left: 1px;">Attendance</label>
                  </form>
              </div>
            </div>
        </div>
        {% endfor %}
        </div> 
        </div>
      </div>
    </div>
    <div id="top-of-site-pixel-anchor"></div>
  </div>
</main>


    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong><span>Anything</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Developed by Dhruvil , Krisha , Krishi , Ravi.
      </div>
    </footer>
    <script>
      function submitForm( student_rollout_id) {
        document.getElementById("attendanceForm_" +  student_rollout_id).submit();
      }
    </script>
    <!-- <script src="{%static 'js/index.js'%}"></script> -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
    <script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'vendor/quill/quill.min.js' %}"></script>
    <script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
    <script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>  
    <script src="{% static 'js/main.js' %}"></script>
  
  </body>
</html>