{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Kddp Attendance System</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> 
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
   
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Courgette"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap-reboot.css"
    />
    <link rel = "stylesheet" type = "text/css" href = "https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"/>

    <link
     href="{% static 'css/template.css' %}"
     rel="stylesheet"
     >
    
 </head>
  </head>

  <body>
      <!-- ======= Header ======= -->
      <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
          <a class="logo d-flex align-items-center">
              <img src="{% static 'img/logoX.ico' %}" alt="Logo">
              <span class="d-none d-lg-block">Kdpp. Attendance management</span>
          </a>
          <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <!-- End Search Nav -->
            <a class="nav-link d-flex align-items-center pe-3" >
              <i class="bi bi-person-circle fs-4 mr-2 "></i>
              <span >{{ faculty_name }}</span>
            </a>
        </ul>
      </nav>
      
      </header>

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'index' %}">
          <i class="bi bi-person-fill-check"></i>
          <span>Attendance Sheet</span>
        </a>
      </li>

      <li class="nav-heading">Pages</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'pages-error-404' %}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'pages-error-404' %}">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li>
      <!-- End F.A.Q Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'pages-error-404' %}">
          <i class="bi bi-envelope"></i>
          <span>Contact</span>
        </a>
      </li>
      <!-- End Contact Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'datasheet' %}">
          <i class="bi bi-database-down"></i>
          <span>data</span>
        </a>
      </li>
      <!-- End Register Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'logout' %}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </aside>
    <!-- End Sidebar-->
  
    <main id="main" class="main">
      <div class="pagetitle">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active">Student In Class</li>
          </ol>
        </nav>
      </div>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} " role="alert">
        <strong>{{ message }}</strong>
    {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        </div> 
    {% endif %}

      <div class="container">
        <p style="text-align: center;">Attendance: <span style="font-weight: bold;">{{ present_students.count }} / {{ students.count }}</span></p>
      </div>

      <!-- DATATABLE START-->
        <table  id = "myTable" class="table table-striped">
          <thead class = "alert-warning">
            <tr>
              <th>Enrollment No</th>
              <th>Student Name</th>
              <th>Class Name</th>
              <th>Attendance</th>
            </tr>
          </thead>
          <tbody>
            {% for student in students %}
            <tr>
              <td  scope="row">{{ student.student.enrollment_no  }}</td>
              <td>{{ student.student.student_name }}</td>
              <td>{{ student.student.Student_Class }}</td>
              <td>
                <div class="form-check">
                  <form id="StudentattendanceForm_{{ student.id }}" method="POST" action="{% url 'student-in-class' class_rollout=student.timetable_rollout.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="student_rollout" value="{{ student.id }}" />
                    <input class="form-check-input" type="checkbox" value="true" name="studentAttendance" {% if student.student_attendance %} checked {% endif %} onchange="this.form.submit()">
                  <label class="form-check-label" for="flexCheckChecked">
                    {% if student.student_attendance %}Present{% else %}Absent{% endif %}
                  </label>
                  </form>
                </div>
              </td>
            </tr>
         
            {% endfor %}
          </tbody>
        </table>
      <!-- Datatable end-->

</main>
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong><span>Anything</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Developed by Dhruvil 
      </div>
    </footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
   
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src = "https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
      let table = new DataTable('#myTable');
    </script>
  </body>
</html>